.main {
    height: 100%;
    width: 100%;
    color: white;
    padding: 1rem;

    // background-image: url("../../../assets/Interviewpractice1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

