* {
    box-sizing: border-box;
    /* Ensure padding does not affect width */
}


.navbar {
    padding: 10px 20px;
    /* Padding around the navbar */
    backdrop-filter: blur(10px);
    border-radius: 1rem;
}

.container {
    max-width: 1200px;
    /* Max width of navbar */
    margin: auto;
    /* Centering */
}

.nav-list {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove padding */
    display: flex;
    /* Flexbox layout */
    justify-content: space-around;
    /* Spacing between items */
    flex-wrap: wrap;
    /* Allow wrapping */
}

.nav-list li {
    margin: 0 15px;
    /* Margin between items */
    a:hover{
        color: var(--hover-color);
    }
}

.nav-list a {
    color: white;
    /* Text color */
    text-decoration: none;
    /* Remove underline */
    padding: 10px;
    /* Padding for clickable area */
    
}



/* Responsive Styles */
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
        /* Center items */
    }



    .nav-list li {
        margin: 5px 0;
        /* Vertical spacing */
    }

    .navbar {
        padding: 10px 20px;
        /* Padding around the navbar */
        backdrop-filter: blur(10px);
        border-radius: 1rem;
    }
}


@media(max-width:500px) {}