<div class="left-bar bd1">
  <div class="user-section">
    <h2 class="username">{{userName}}</h2>
  </div>
  <nav class="nav-menu">
    <a routerLink="practice" routerLinkActive="nav_active"
      class="nav-item">Practice</a>
    <a routerLink="analytics" routerLinkActive="nav_active"
      class="nav-item">Analytics</a>
    <a routerLink="guide" routerLinkActive="nav_active"
      class="nav-item">Interview Guide</a>
    <a routerLink="skills" routerLinkActive="nav_active"
      class="nav-item">Skills</a>
  </nav>
  <div class="logout-button-container bd1">
    <button class="logout-btn cursor_pointer">Logout</button>
  </div>
</div>
