/* You can add global styles to this file, and also import other style files */
// @use "./utility.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary-color: #2563eb;
  /* Dark Blue */
  --text-primary: #ffffff;
  /* White text */
  --text-secondary: #a0aec0;
  /* Muted gray text */
  --bg-dark: #1a202c;
  /* Very dark background */
  --border-radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Border classes: 2px solid borders with different colors */

.cursor_pointer {
  cursor: pointer;
}